

.container {
    
    background-color: bisque;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: raw;
    justify-content: center;
    align-items: center;
}





.child {
    height: 100px;
    width: 100px;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}
