header{
    text-align: center;
}
header img {
    height: 50px;
}
nav {
    background-color: green;
    padding: 10px 0px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}
section.grey-block {
    padding: 20px;
    background-color: #eee;
    
}
section.green-block {
    padding: 20px;
    background-color: rgb(203, 255, 203);
   
}
section img {
    width: 100%;
}
h2 {
    background-color: green;
    color: white;
    padding: 10px;
    margin-top: 0;
    
}
.grey-block h2 {
    margin-top: 20px;
}